.cardsWrapper {
  max-width: var(--max-width);
  border-radius: 2em;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #3487a3, #6687a3, #8447a3);
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    height: 28em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;

    .card__body {
      width: 5em;
      background-size: cover;
      cursor: pointer;
      overflow: hidden;
      border-radius: 2em;
      margin: 0 10px;
      display: flex;
      align-items: flex-end;
      transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
      box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);

      .card__body__row {
        color: white;
        display: flex;
        flex-wrap: nowrap;

        .card__body__row--icon {
          background: #223;
          color: white;
          border-radius: 50%;
          width: 3em;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 1em;
        }
        .card__body__row--description {
          display: flex;
          justify-content: center;
          flex-direction: column;

          overflow: hidden;

          height: 5em;
          width: 32em;
          opacity: 0;

          transform: translateY(2em);
          transition-delay: 0.3s;
          transition: all 0.3s ease;

          .text {
            text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black,
              0 -0.07em black;
          }

          h4 {
            text-transform: uppercase;
          }
          p {
            color: #f0f0fa;
            padding-top: 0.3em;
          }
        }
      }
    }
    .card--input {
      opacity: 0;
      width: 0;
    }

    .card--input:checked + label {
      width: 37.5em;
    }

    .card--input:checked + label {
      .card__body__row {
        .card__body__row--description {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}
